<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>AI Loan Approval System</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">
</head>

<body>

    <!-- PARTICLES -->
    <div class="particles">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>

    <!-- HERO SECTION -->
    <div class="hero">

        <h1>🏦 AI Loan Approval System</h1>

        <p>
            Smart Machine Learning powered banking solution
            to predict loan approval instantly.
        </p>

        <a href="/predict-page">
            <button class="hero-btn">
                Start Prediction
            </button>
        </a>

    </div>

</body>

</html>